/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
!/storage/app/.gitkeep
!/storage/app/private/.gitkeep
!/storage/app/public/.gitkeep
!/storage/framework/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/testing/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep

.env
.env.backup
.phpunit.result.cache
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.tsbuildinfo
